<h1>Create a New Article</h1>
<%# 
FOrm With is a Form Builder %>

<%# Form For follows simple RESTful conventions
Form Tag is used for custom URLS %>

<%# Add in validations -- these are defined in the model  %>

<%# Use the partial form via render
A partials filename must be prefixed with an underscore, but when rendering it is referenced without the underscore %>

<%= render "form", article: @article %>