<h1>Viewing Each Article</h1>

<h2> <%= @article.title %> </h2>
<h2> <%= @article.body %> </h2>



<ul>
    <%= link_to "Edit", edit_article_path(@article)%>
    <br>
   <li> <%= link_to "Destroy", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> </li>
</ul>